.media,.childmedia,.childmedia2,.media-body{overflow:hidden;zoom:1}
.media,.childmedia,.childmedia2,.media .media{margin-top:15px}
.media:first-child,.childmedia:first-child,.childmedia2:first-child{margin-top:0}
.media-object{display:block}.media-heading{margin:0 0 5px}
.media>.pull-left{margin-right:10px}
.media>.pull-right{margin-left:10px}

.childmedia>.pull-left{margin-right:10px}
.childmedia>.pull-right{margin-left:10px}

.childmedia2>.pull-left{margin-right:10px}
.childmedia2>.pull-right{margin-left:10px}

.media-list{padding-left:0;list-style:none}

.w3-btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #000;
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    white-space: nowrap;
   
}   

a.w3-btn:hover, a.w3-btn:active {
    background-color: #2A5577;
    color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

a.w3-btn, a.w3-btn:link, a.w3-btn:visited {
    color: #FFFFFF;
    background-color: #5FB6F9;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.commentTable{
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



.texteditor, .commtexteditor{
   overflow:hidden;
   float:left;
   text-align:left;
   border: 1px #6CC0FF solid;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.texteditor:hover, .commtexteditor:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.media-left, .media>.pull-left, .childmedia>.pull-left, .childmedia2>.pull-left{
    padding-right: 10px;

}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
/* //////////////////// */
.media-right, .media>.pull-right, .childmedia>.pull-right, .childmedia2>.pull-right {
    padding-left: 10px;
}

.media-body {
    width: 500px;
    overflow: hidden;
}

.media-body, #temp{
   overflow: hidden;
   word-break: break-all;
}

/* #trash, #pencil, #dddd, #eee, #eeee{
float: right;
cursor: pointer;
vertical-align: top;


} */

/* #trash{
float: right;
cursor: pointer;
vertical-align: top;


} */

#trash, #pencil,#child-trash, #child-pencil,#child-child-trash, #child-child-pencil{
/* display:block; */
margin-right: 10px;
}

p1{
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    
    /* float: left; */

}

#userId{
	margin-left:0px;
	float: left;
}

p2{
	float: left;
	text-align: left;
}